/* You can add global styles to this file, and also import other style files */
@use '../src/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.6;
}