<div class="layout-container">
  <bx-header (resetApp)="resetApp()"></bx-header>

  <main class="main-content">

    <bx-book-search [(searchQuery)]="searchQuery" (onSearch)="onSearch()" (resetApp)="resetApp()"
      (filtersChanged)="onFiltersChanged($event)">
    </bx-book-search>

    <bx-spinner *ngIf="isLoading"></bx-spinner>

    <bx-book-list [books]="books" [searchResultsTitle]="searchResultsTitle" (sortByChange)="onSortChanged($event)">
    </bx-book-list>


    <ng-container *ngIf="books.length > 0">
      <bx-book-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="fetchBooks($event)">
      </bx-book-pagination>
    </ng-container>
  </main>

  <bx-footer></bx-footer>
</div>


<bx-back-to-top></bx-back-to-top>
<router-outlet></router-outlet>