@use '../../../../styles/variables' as *;

.footer {
  text-align: center;
  padding: 16px;
  font-size: 16px;
  background-color: $color-primary-transparent;
  color: $color-surface;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $color-link-primary;
  }
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 12px;
  }
}